.backdrop {
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 5em;
  padding-bottom: 4em;
}
