@use 'styles/theme';
@use '@angular/material' as mat;

.footer {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: mat.get-theme-color(theme.$movies-dark-theme, background, app-bar);
  position: fixed;
  bottom: 0;
  width: 100%;
}