.poster-container {
  width: 15em;
}

.poster-img {
  width: 100%;
}

.poster-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 22.6em;
  background-color: grey;
}